* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
  }
  
body {
    background: #143AD1;
}

h1, h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: -0.8px;
    word-spacing: 0px;
    color: #68E4A0;
    font-weight: normal;
    padding: 2em 0;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

a {
    background: none;
    border: none;
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 17px;
    color: #FFFFFF;
}

.div_container {
    align-items: stretch;
    display: flex;
    justify-content: center;
    margin: 0 30em;
}

table {
    color: #FFFFFF;
    margin-bottom: 2em;
}

.save_log {
    background-color: #FFFFFF;
    color: #143AD1;
}

.list_log {
    background-color: #143AD1;
    color: #FFFFFF;
    border: 1px #000000 solid;
}