{% extends 'base.html'%}

{%block body%}
<h2> {{titulo}} </h2>
<form action="/save-seller">
    <div class="label">
        <label>Nome</label> 
        <input type="text" name="nome"/>
    </div>
    </br></br>
    <div class="label">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required />
      </div>
    </br></br>
      <div class="label">
        <label>Telefone</label>
        <input type="telefone" name="telefone"/>
      </div>
    </br></br></br>
    <input type="submit" value="Salvar"/>
</form>
<a href='/'> Voltar</a>
{%endblock%}