{% extends 'base.html'%}

{%block body%}
<h2> {{titulo}} </h2>
<form action="/update-marketplace">
    <input hidden value="{{mkp.id}}" name="id"/>
    <div class="label">
        <label>Nome</label> <input type="text" name="nome" value="{{mkp.name}}"/>
    </div>
    </br></br>
    <div class="label">
        <label>Descrição</label> <input type="text" name="descricao" value="{{mkp.description}}">
    </div>
    </br></br></br>
    <input type="submit" value="Salvar"/>
</form>
<a href='/list_product'> Voltar</a>
{%endblock%}