{%extends 'base.html'%}

{%block body%}
<form action="/cadastro">
    <div class="div_container">
        <h2>Cadastrar</h2>
        <button class="btn_primary" name="opcao" value="marketplace" type="submit">Marketplace</button>
        <br/><br/>
        <button class="btn_primary" name="opcao" value="produto">Produto</button>
        <br/><br/>
        <a href="/list-mkp">Lista de Marketplaces</a>
        <br/><br/>
        <a href="/list-product">Lista de Produtos</a>
    </div>
</form>
{%endblock%}