{%extends 'base.html'%}

{%block body%}
<form action="/cadastro">
    <h2>Marketplace</h2>
    <div class="div_container">
        <div class="div_1">
            <a href="/form-mkp">Criar Marketplace</a>
            <br/><br/>
            <a href="/form-product">Criar Produto</a>
            <br/><br/>
            <a href="/form-seller">Criar Seller</a>
            <br/><br/>
            <a href="/form-category">Criar Categoria</a>
            <br/><br/>
        </div>
        <div class="div_2">
            <a href="/list-mkp">Lista de Marketplaces</a>
            <br/><br/>
            <a href="/list-product">Lista de Produtos</a>
            <br/><br/>
            <a href="/list-seller">Lista de Sellers</a>
            <br/><br/>
            <a href="/list-category">Lista de Categorias</a>
            <br/><br/>
        </div>
    </div>
</form>
{%endblock%}