{% extends 'base.html' %}

{% block body %}

<h1>Lista de Sellers</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {%for seller in list%}
        <tr>
            <td>{{seller.id}}</td>
            <td>{{seller.name}}</td>
            <td>{{seller.email}}</td>
            <td>{{seller.phone}}</td>
            <td>
                <a href="/update_seller?id={{seller.id}}">Update</a>
                <a href="/deleteseller?id={{seller.id}}">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<a href="/">Home</a>


{% endblock %}