{% extends 'base.html' %}

{% block body %}

<h1>Lista de Logs</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Operação</th>
        </tr>
    </thead>
    <tbody>
        {%for log in list%}
            {% if "write" in log.action %}
                <tr>
                    <td class="save_log">{{log.id}}</td>
                    <td class="save_log">{{log.datetime}}</td>
                    <td class="save_log">Save</td>
                    <td class="save_log">{{log.action}}</td>
                </tr>
            {% elif 'List' in log.action %}
                <tr>
                    <td class="list_log">{{log.id}}</td>
                    <td class="list_log">{{log.datetime}}</td>
                    <td class="list_log">List</td>
                    <td class="list_log">{{log.action}}</td>
                </tr>

            {% endif %}
        {%endfor%}
    </tbody>
</table>

<a href="/">Home</a>


{% endblock %}