{% extends 'base.html' %}

{% block body %}

<h1>Lista de Marketplaces</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {%for mkp in list%}
        <tr>
            <td>{{mkp.id}}</td>
            <td>{{mkp.name}}</td>
            <td>{{mkp.description}}</td>
            <td>
                <a href="/update_marketplace?id={{mkp.id}}">Update</a>
                <a href="/deletemarketplace?id={{mkp.id}}">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<a href="/">Home</a>


{% endblock %}